[Unit]
Description=Temporal PostgreSQL database

[Container]
DropCapability=all
AddCapability=CHOWN DAC_OVERRIDE FOWNER SETGID SETUID
NoNewPrivileges=true
Image=docker.io/library/postgres:16
ContainerName=postiz-temporal-db
Network=postiz.network
Environment=POSTGRES_PASSWORD=temporal
Environment=POSTGRES_USER=temporal
Volume=%h/.roxabi/postiz/data/temporal-postgres:/var/lib/postgresql/data:Z

[Install]
WantedBy=default.target
