[Unit]
Description=Postiz Redis

[Container]
DropCapability=all
AddCapability=CHOWN DAC_OVERRIDE SETGID SETUID
NoNewPrivileges=true
Image=docker.io/library/redis:7.2
ContainerName=postiz-redis
Network=postiz.network
HealthCmd=redis-cli ping
HealthInterval=10s
HealthRetries=3
HealthTimeout=3s
Volume=%h/.roxabi/postiz/data/redis:/data:Z

[Install]
WantedBy=default.target
